{% extends 'base.html' %}

{% block content %}
    <div class="container mb-5">
        <h2>Acerca de Nosotros</h2>

        <section class="my-4">
            <p>En OnlyFlans, nuestra pasión por los flanes nos impulsa a crear las más deliciosas y variadas versiones de este postre clásico. Nuestra tienda en línea nació del amor por los sabores auténticos y la tradición culinaria, ofreciendo una experiencia dulce y única para todos los amantes del flan.</p>
        </section>

        <section class="my-4">
            <h3>Nuestra Historia</h3>
            <p>Todo comenzó en una pequeña cocina, donde experimentamos con recetas familiares y descubrimos la magia de los ingredientes frescos y naturales. Con el tiempo, nuestro hobby se convirtió en una misión: compartir la perfección del flan casero con el mundo. Así nació OnlyFlans, una tienda dedicada exclusivamente a este maravilloso postre, con un toque moderno y creativo.</p>
            <p>En OnlyFlans, nos comprometemos a ofrecer productos de la más alta calidad. Cada flan es elaborado con esmero, utilizando ingredientes seleccionados y técnicas artesanales que garantizan un sabor incomparable. Nos esforzamos por mantener la autenticidad en cada bocado, brindándote una experiencia gastronómica inigualable.</p>
        </section>
        
        <section class="my-4">
            <h3>Compromiso con la Satisfacción del Cliente</h3>
            <p>Tu satisfacción es nuestra prioridad. En OnlyFlans, valoramos a nuestros clientes y nos esforzamos por brindar un servicio excepcional. Desde el momento en que navegas por nuestro sitio web hasta que disfrutas de tu flan, queremos que tu experiencia sea perfecta.</p>
            <p>Explora nuestra amplia gama de sabores, desde los clásicos de siempre hasta innovaciones que sorprenderán tu paladar. Ya sea un flan de vainilla suave y cremoso, un flan de chocolate indulgente o nuestras ediciones especiales de temporada, siempre encontrarás algo que deleite tus sentidos.</p>
        </section>

    </div>

{% endblock %}