{% extends 'base.html' %}

{% block content %}
    <div class="container my-5 p-5" style="background-color: #e9ecef">
        <h3>Contáctanos</h3>

        <form action="/contacto" method="post">
            {% csrf_token %}
            <!-- {{ form }} -->

            {{ form.non_field_errors }}

            <div>
                <label for="{{ form.customer_name.id_for_label }}" class="form-label pt-3">
                    {{ form.customer_name.label_tag}}
                </label>
                <div>
                    {{ form.customer_name }}
                </div>
                <div class="text-danger">
                    {{ form.customer_name.errors }}
                </div>
            </div>
            <div>
                <label for="{{ form.customer_email.id_for_label }}" class="form-label pt-3">
                    {{ form.customer_email.label_tag}}
                </label>
                <div>
                    {{ form.customer_email }}
                </div>
                <div class="text-danger">
                    {{ form.customer_email.errors }}
                </div>
            </div>
            <div>
                <label for="{{ form.message.id_for_label }}" class="form-label pt-3">
                    {{ form.message.label_tag}}
                </label>
                <div>
                    {{ form.message }}
                </div>
                <div class="text-danger">
                    {{ form.message.errors }}
                </div>
            </div>
            <input type="submit" value="Enviar" class="m-5 bg-primary text-white">
        </form>

    </div>
{% endblock %}